node_modules
dev/*
!dev/index.html
build
stats.json
mock.json
.DS_Store
cypress/screenshots/
cypress/videos/*
cypress/downloads
.env
scripts/my_username
backups/*
# Sentry Auth Token
.env.sentry-build-plugin
.idea/
data.xlsx