@import '../../assets/colors.scss';

.footer {
  background-color: $toska-black;
  color: $white;
  width: 105%;
  position: relative;
  bottom: 0;
  text-align: center;
  .text {
    position: absolute;
    top: 30px;
    > p, .logo {
      color: $toska-orange;
      font-weight: 200;
      text-align: center;
      font-size: 1.2em;
    }
  }
  .logo {
    position: absolute;
    top: 64px;
  }

  .updated {
    position: absolute;
    top: 20px;
    right: 64px;
    width: 20em;
    font-size: 16px;
  }
}