$black: #1B1C1D;
$blue: #0E6EB8;
$white: #FFFFFF;
$dark_gray: #4e4c4c;
$gray: #A0A0A0;
$background-red: #F37778;
$background-yellow: #F9D03B;
$background-green: #1DB954;

.report-page {
  &-tab {
    width: 90%;
    max-width: 1400px;
    align-self: center;
  }
}

.report-filter-container {
  margin: 4em 0em 2em 0em;
  width: 90%;
  max-width: 1400px;
  align-self: center;
  > h1 {
    margin-bottom: 1.3em;
  }
  > label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    margin-top: 0.2em;
  }
}

.report-programmes {
  &-container {
    margin: 4em 0em 2em 0em;
  }
  &-list {
    background: $gray;
    max-height: 300px;
    width: 450px;
    display: flex;
    flex-flow: column;
    overflow: auto;
    > p:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  > p {
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-weight: 200;
  }
}

.report-left-header {
  margin-left: 25px;
  > p {
    font-size: 1.1em;
  }
}

.report-center-header {
  font-size: 1.1em;
  text-align: center;
  > p {
    margin-bottom: 3px;
  }
}

.report-right-header {
  text-align: end;
  > p {
    font-size: 1.1em;
  }
}

@mixin question-caret-basics {
  max-width: 25px;
  padding: 0em 0.5em !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

@mixin question-label-basics {
  font-weight: bold;
  margin-top: 0.4em;
}

.question {
  &-accordion {
    margin-top: 1em;
    padding: 10px;
  }
  &-caret {
    @include question-caret-basics;
  }
  &-caret-disabled {
    @include question-caret-basics;
    color: $gray !important;
    cursor: default;
  }
  &-header {
    &-disabled {
      cursor: default !important;
    }
  }
  &-label {
    @include question-label-basics;
    color: $black;
  }
  &-label-disabled {
    @include question-label-basics;
    color: $gray;
    cursor: default;
    &:hover {
      color: $gray !important;
    }
  }
  &-description {
    font-style: italic;
    color: $dark_gray;
    font-weight: 300;
    margin-top: 1em;
  }
  &-description-disabled {
    color: $gray;
    cursor: default;
  }
  &-title-disabled {
    color: $gray !important;
    cursor: default;
  }
  &-content {
    margin-left: 25px !important;
    max-width: 1200px;
  }
}

@mixin answer-circle-basics {
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 10px;
}

.answer {
  &-header{
    font-style: bold;
  }
  &-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0.6em;
    margin-bottom: 2em;
  }
  &-row {
    padding-top: 0.3em;
  }
  &-circle-green {
    @include answer-circle-basics;
    background: $background-green;
  }
  &-circle-yellow {
    @include answer-circle-basics;
    background: $background-yellow;
  }
  &-circle-red {
    @include answer-circle-basics;
    background: $background-red;
  }
  &-circle-gray {
    @include answer-circle-basics;
    background: $gray;
  }
}

@mixin answered-label-basics {
  min-width: 85px;
  position: absolute; 
  top: 20px;
  right: 15px;
  color: $white !important;
}

.answered-label {
  @include answered-label-basics;
  background-color: $blue !important;
  &-disabled {
    @include answered-label-basics;
    background-color: $gray !important;
  }
}