@import '../../assets/colors.scss';

// Hiding any element when printing PDFs
@media print {
  .noprint {
    display: none !important;
  }
}

// Hide the tab-headers when printing PDFs
.item {
  @media print {
    display: none !important;
  }
}

@mixin color-buttons-basics {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  padding: 3px;
}

.report {
  &-info-header {
    height: 50px;
  }
  &-header {
    font-size: 1.1em;
    & .center {
      text-align: center;
    }
    & .left {
      margin-left: 25px;
    }
    & .right {
      text-align: end;
    }
  }
  &-filter-container {
    width: 90%;
    max-width: 1400px;
    align-self: center;
    @media only screen and (max-width: 991px) and (min-width: 768px) {
      max-width: 90%;
    }
    > h1 {
      margin-bottom: 1.3em;
      margin-top: 1em !important;
    }
  }
  &-tab {
    padding: 10px;
    margin-top: 2em;
    width: 90%;
    @media print {
      width: 100% !important;
    }
    max-width: 1400px;
    align-self: center;
  }
  &-tab-pane {
    margin-top: 1em;
    padding: 10px;
  }
  &-side-note {
    color: $gray;
    &-small {
      font-size: 0.8em;
      color: $gray;
    }
  }
  &-color-button {
    &-active {
      background-color: transparent;
      border: 2px solid black !important;
      border-radius: 6%;
    }
    &- {
      background-color: transparent;
      border: none;
    }
  }
  &-color-buttons {
    @include color-buttons-basics;
    &-sticky {
      position: sticky;
      z-index: 4;
      @include color-buttons-basics;
      top: 60px;
      > label {
        font-size: 20px;
        margin-right: 5px;
      }
    }  
  }
}

.report-list {
  &-container {
    margin-top: 60px !important;
    min-height: 50px;
    max-height: 370px;
    display: flex;
    flex-flow: column;
    overflow: auto;
  }
  &-included {
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  &-excluded {
    color: $gray;
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  &-companion-icon {
    margin-left: 6px;
  }
  &-header-alert {
    color: $red;
    font-weight: bold;
  }
}

@mixin question-caret-basics {
  max-width: 25px;
  padding: 0em 0.5em !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

@mixin question-label-basics {
  font-weight: bold;
  margin-top: 0.4em;
}

@mixin answered-label-basics {
  min-width: 85px;
  position: absolute;
  top: 20px;
  right: 15px;
  color: $white !important;
}

.report-question {
  &-caret {
    @include question-caret-basics;
  }
  &-caret-disabled {
    @include question-caret-basics;
    color: $gray !important;
    cursor: default;
  }
  &-header {
    &-disabled {
      cursor: default !important;
    }
  }
  &-label {
    @include question-label-basics;
    color: $black;
  }
  &-label-disabled {
    @include question-label-basics;
    color: $gray;
    cursor: default;
    &:hover {
      color: $gray !important;
    }
  }
  &-description {
    font-style: italic;
    color: $dark-gray;
    font-weight: 300;
    margin-top: 1em;
  }
  &-description-disabled {
    color: $gray;
    cursor: default;
  }
  &-title-disabled {
    color: $gray !important;
    cursor: default;
  }
  &-content {
    margin-left: 25px !important;
    max-width: 1200px;
  }
  &-answered-label {
    @include answered-label-basics;
    background-color: $blue !important;
    &-disabled {
      @include answered-label-basics;
      background-color: $gray !important;
    }
  }
  &-extrainfo {
    color: $gray;
    font-weight: 300;
    font-style: italic;
  }
}

@mixin answer-circle-basics {
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

@mixin answer-circle-big-basics {
  display: inline-block;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  margin: 5px;
}

.report-answer {
  &-header {
    font-style: bold;
  }
  &-title {
    word-break: break-word;
  }
  &-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0.6em;
    margin-bottom: 2em;
  }
  &-row {
    padding-top: 0.3em;
  }
  &-circle {
    @include answer-circle-basics;

    & .green-color {
      @include answer-circle-basics;

      background: $background-green;
    }
  }
  &-circle-yellow {
    @include answer-circle-basics;
    background: $background-yellow;
  }
  &-circle-red {
    @include answer-circle-basics;
    background: $background-red;
  }
  &-circle-gray {
    @include answer-circle-basics;
    background: $gray;
  }
  &-circle-big-green {
    @include answer-circle-big-basics;
    background: $background-green;
  }
  &-circle-big-yellow {
    @include answer-circle-big-basics;
    background: $background-yellow;
  }
  &-circle-big-red {
    @include answer-circle-big-basics;
    background: $background-red;
  }
  &-circle-big-gray {
    @include answer-circle-big-basics;
    background: $gray;
  }
  &-circle-big-all {
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid $black;
    display: inline-block;
    height: 26px;
    width: 26px;
    margin: 5px;
  }
}

.report-color {
  &-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 4em 0em;
  }
  &-chart-area {
    width: 425px;
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
  }
  &-pie-header {
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
    > p {
      margin-bottom: 3px;
      font-weight: 400;
    }
  }
  &-pie-headline {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-pie-chart {
    position: relative;
    display: inline-block;
    flex-shrink: 1;
    width: 100%;
  }
  &-pie-chart {
    > svg {
      > path:hover {
        filter: brightness(0.8); 
      }
    }
  }
  &-pie-tip {
    position: absolute;
    float: right;
    top: 75%;
    width: 425px;
    z-index: 5;
    padding: 6px 10px;
    border-radius: 2px;
    background: $white;
    color: $black;
    font-size: 12px;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.1;
    letter-spacing: 0.06em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-transform: all 0.3s;
    -moz-transform: all 0.3s;
    -ms-transform: all 0.3s;
    -o-transform: all 0.3s;
    transform: all 0.3s;
    overflow-y: auto;
  }
  &-pie-tip-close {
    float: right;
  }
}


