.filter-row {
  .select-questions-button {
    margin-bottom: 1em;
  }
}

.question-picker-container {
  display: flex;
  flex-direction: column;

  .question-group {
    margin: 15px 0;
  }

  .send-selection-button {
    align-self: flex-end;
    margin-top: 1em;
  }
}

.answer-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 2em 0;

  .button {
    max-width: 200px;
  }
}
.no-selection-container {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}
