.filter-row {
  .select-questions-button {
    margin-bottom: 1em;
  }
}

.question-picker-container {
  display: flex;
  flex-direction: column;

  .question-group {
    margin: 15px 0;
  }

  .send-selection-button {
    align-self: flex-end;
    margin-top: 1em;
  }
}

.answers-list-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;

  .button {
    max-width: 200px;
  }
}
.no-selection-container {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.answer-container {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 2px solid black;

  i {
    color: gray;
    padding-bottom: 10px;
  }
}

.light-container {
  display: table;
  margin-bottom: 1em;
  .light {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1em;

    span {
      vertical-align: bottom;
    }

    i {
      padding-left: 4px;
    }
  }
}
