.filter-row {
  .menu-item-header {
    padding-left: 0;

    h2 {
      max-width: 16em;
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 15px;
}

.monitoring-overview {
  width: 100%;

  .monitoring-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }

  .table-header-cell {
    padding: 8px !important;
    margin-top: 10px !important;
    text-align: left;
    min-width: 7vw;
    max-width: 7vw;
    word-wrap: break-word;
    .faculty-header {
      vertical-align: top !important;
      font-size: 13px;
      width: 100%;
    }
  }

  .pie-chart-cell,
  .square-cell {
    width: 80px;
    height: 80px;
    padding: 5px;
    vertical-align: middle;
  }

  .pie-chart-container,
  .square-container {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .ui.table td {
    padding: 0.7em;
    vertical-align: middle;
  }

  .accordion-header {
    cursor: pointer;
    margin: 15px 0 !important;
    width: 210px;
    overflow: visible;
    word-wrap: break-word;
    &:hover {
      text-decoration: underline;
    }
  }

  .question-text {
    padding: 5px 0;
  }
}
