@import '../../assets/colors.scss';

.users-red {
  color: $red;
  filter: brightness(0.9);
}

.users-red:hover {
  filter: brightness(1.4);
}

.users-green {
  color: $green;
  filter: brightness(0.9)
}

.users-green:hover {
  filter: brightness(1.4);
}

.user-filter-container {
  display: flex;
  justify-content: left;
  margin-top: 0.5em !important;
  margin-bottom: 1em !important;
}

.user-filter {
  margin-left: 1em;
  width: 300px;
}

.user-programme-list {
  width: 400px;
}

.user-programme-list-item {
  background-color: $light-gray !important;
  color: $black !important;
  margin: 0.2em !important;
  min-width: 200px;
}

.user-programme-list-item:hover {
  filter: brightness(0.8);
}

.user-programme-list-popup {
  width: 450px;
}

.user-access-links {
  cursor: pointer;
  margin-top: 0.2em !important;
  margin-bottom: 0.2em !important;
}

.user-access-list {
  font-weight: 500;
  margin-top: 0.2em !important;
  margin-bottom: 0.2em !important;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 4;
}