@import 'Assets/colors.scss';

.users-red {
  color: $red;
  filter: brightness(0.9);
}

.users-red:hover {
  filter: brightness(1.4);
}

.users-green {
  color: $green;
  filter: brightness(0.9)
}

.users-green:hover {
  filter: brightness(1.4);
}

.user-filter-container {
  display: flex;
  justify-content: left;
  margin-top: 0.5em !important;
  margin-bottom: 1em !important;
}

.user-filter {
  margin-left: 1em;
  width: 300px;
}

.user-access-modal {
  &-segment {
    margin-top: 1.7em !important;
  }
  &-delete-container {
    display: flex;
    justify-content: center;
  }
  &-radio {
    display: flex;
    justify-content: flex-start;
  }
  &-details {
    color: $gray;
    margin-bottom: 0.3em;
  }
  &-save-button {
    color: $blue;
    margin-top: 0.5em !important; 
  }
  > h2 {
    margin-bottom: 0.8em;
    margin-top: 1em !important;
  }
}

.user-delete-button {
  width: 90%;
}

.user-programme-list {
  width: 400px;
}

.user-programme-list-item {
  background-color: $light-gray !important;
  color: $black !important;
  margin: 0.2em !important;
  min-width: 200px;
}

.user-programme-list-item:hover {
  filter: brightness(0.8);
}

.user-access-links {
  cursor: pointer;
  margin-top: 0.2em !important;
  margin-bottom: 0.2em !important;
}