.users-red {
  color: #b60000;
}

.users-red:hover {
  color: #f00;
}

.users-green {
  color: #34be49;
}
.users-green:hover {
  color: #47ff62;
}

.user-filter-container {
  margin-top: 0.5em !important;
  margin-bottom: 1em !important;
}