@import 'Assets/colors.scss';

@mixin filter-basics {
  margin: 2em 0em 0.5em 0em;
  > label {
    font-size: 1.05em;
    margin-bottom: 0.5em;
    display: block;
  }
}

.companion-filter {
  @include filter-basics;
}

.faculty-filter {
  &-small {
    @include filter-basics;
    width: 300px;
  }
  &-large {
    @include filter-basics;
    width: 100%;
  }
}

.level-filter {
  @include filter-basics;
  > form {
    margin-top: 1em;
    word-wrap: break-word;
    & .fields {
      flex-flow: wrap;
      > div {
        margin-top: 0.3em !important;
      }
    }
  }
}

.programme-filter {
  @include filter-basics;
  &-input {
    width: 400px;
  }
  .empty-answer {
    margin-left: 5px;
  }
}

.doctoral-school-filter {
  @include filter-basics;
  width: 300px;
}

.year-filter {
  &-label-alert {
    color: $red;
  }
  &-small {
    > label {
      font-size: 1.05em;
      margin-bottom: 0.5em;
      display: block;
    }
    width: 280px;
  }
}