@import '../../assets/colors.scss';

.form-status-message {
  margin: 1em;
  &-sticky {
    margin: 1em 0em;
    position: sticky;
    top: 0;
    z-index: 900;
  }
}

.comparison .list,
.report .list {
  &-container {
    margin-top: 60px !important;
    min-height: 50px;
    max-height: 370px;
    display: flex;
    flex-flow: column;
    overflow: auto;
  }
  &-included {
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  &-excluded {
    color: $gray;
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  &-companion-icon {
    margin-left: 6px;
  }
  &-header-alert {
    color: $red;
    font-weight: bold;
  }
}


.comparison .questions-list,
.report .questions-list {
  &-container {
    margin-top: 1.5em !important;
  }
  &-button {
    margin-top: 1em !important;
  }
  &-label {
    margin-top: 2em !important;
    font-size: 1.05em;
    &-bolded {
      margin-top: 2em !important;
      font-size: 1.05em;
      color: $red;
    }
  }
  &-selector {
    margin-top: 0.5em !important;
    max-width: 90%;
    &-bolded {
      margin-top: 0.5em !important;
      max-width: 90%;
      border: 2px solid $black;
      font-weight: bold;
    }
  }
}
