@import '../../assets/colors.scss';

.form-status-message {
  margin: 1em;
  &-sticky {
    margin: 1em 0em;
    position: sticky;
    top: 0;
    z-index: 900;
  }
}

.comparison .list,
.report .list {
  &-container {
    margin-top: 60px !important;
    min-height: 50px;
    max-height: 370px;
    display: flex;
    flex-flow: column;
    overflow: auto;
  }
  &-included {
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  &-excluded {
    color: $gray;
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  &-companion-icon {
    margin-left: 6px;
  }
  &-header-alert {
    color: $red;
    font-weight: bold;
  }
}


.comparison .questions-list,
.report .questions-list {
  &-container {
    margin-top: 1.5em !important;
  }
  &-button {
    margin-top: 1em !important;
  }
  &-label {
    margin-top: 2em !important;
    font-size: 1.05em;
    &-bolded {
      margin-top: 2em !important;
      font-size: 1.05em;
      color: $red;
    }
  }
  &-selector {
    margin-top: 0.5em !important;
    max-width: 90%;
    &-bolded {
      margin-top: 0.5em !important;
      max-width: 90%;
      border: 2px solid $black;
      font-weight: bold;
    }
  }
}

.customModal-dimmer {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $dimmer-dark;
}

.customModal-content {
  overflow-y: auto;
  margin: 4% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-height: 100%;
  max-width: 1100px;
  background: $background-white;
}

.title-and-close {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.2em;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

@mixin filter-basics {
  margin: 2em 0em 0.5em 0em;
  > label {
    font-size: 1.05em;
    margin-bottom: 0.5em;
    display: block;
  }
}

.companion-filter {
  @include filter-basics;
}

.doctoral-school-filter {
  @include filter-basics;
  width: 300px;
}

.faculty-filter, .form-filter {
  &-small {
    @include filter-basics;
    width: 300px;
  }
  &-large {
    @include filter-basics;
    width: 100%;
  }
}

.dropdown-filter {
  &-small {
    @include filter-basics;
    width: 300px;
  }
  &-large {
    @include filter-basics;
    width: 100%;
  }
}

.level-filter {
  @include filter-basics;
  > form {
    margin-top: 1em;
    word-wrap: break-word;
    & .fields {
      flex-flow: wrap;
      > div {
        margin-top: 0.3em !important;
      }
    }
  }
}

.programme-filter {
  &-normal {
    @include filter-basics;
  }
  &-large {
    @include filter-basics;
  }
  &-input {
    width: 400px;
  }
  .empty-answer {
    margin-left: 5px;
  }
}

.question-filter {
  @include filter-basics;
  width: 560px !important;
  &-title {
    &-active {
      background-color: $light-gray !important;
    }
  }
}

.year-filter {
  &-label-alert {
    color: $red;
  }
  &-extra-small {
    > label {
      font-size: 1.05em;
      margin-bottom: 0.5em;
      display: block;
    }
    width: 200px;
  }
  &-small {
    > label {
      font-size: 1.05em;
      margin-bottom: 0.5em;
      display: block;
    }
    width: 280px;
  }
}

@mixin answer-circle-big-basics {
  display: inline-block;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin: 5px;
  filter: grayscale(50%);
}


@mixin selected-answer-circle-big-basics {
  display: inline-block;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  margin: 5px;
  box-shadow: 5px 2px 2px $gray;
}

.unselected-animated {
  cursor: pointer;
  transition-duration: 300ms;
  &:hover {
    width: 56px;
    height: 56px;
    filter: grayscale(0%);
  }
}

.selected-animated {
  cursor: pointer;
  transition-duration: 300ms;
  &:hover {
    width: 60px;
    height: 60px
  }
}

.circle-big-green {
  @include answer-circle-big-basics;
  background: $background-green;
}
.circle-big-yellow {
  @include answer-circle-big-basics;
  background: $background-yellow;
}
.circle-big-red {
  @include answer-circle-big-basics;
  background: $background-red;
}

.circle-big-green-selected {
  @include selected-answer-circle-big-basics;
  background: $background-green;
}
.circle-big-yellow-selected {
  @include selected-answer-circle-big-basics;
  background: $background-yellow;
}
.circle-big-red-selected {
  @include selected-answer-circle-big-basics;
  background: $background-red;
}

.editor-class {
  background-color: $background-light-gray;
  padding: 1em;
  width: 100%;
  min-height: 230px;
  cursor: text;

  &.disabled {
    cursor: not-allowed;
  }
}

.wrapper-class {
  display: flex;
  flex-direction: row-reverse;
}

.toolbar-class {
  display: flex;
  flex-direction: column;
  max-width: 50px;
  min-width: 10px;
  min-height: 220px;
  border: 0;
  background-color: $background-light-gray;
  margin: 0;

  &.disabled {
    background-color: $background-blue;

    div {
      // Hides the actual buttons (like bold,underline and so on)
      display: none;
    }
  }
}

.selection-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.entity-description, .selection-description,.infobox-description, .checkbox-description, .choose-radio-description {
  line-height: 2;
  background-color: $background_beige;
  padding: 1em;
  border-radius: 5px;
  margin: 1em 0;
  font-size: 16px;
  
  label {
    font-size: 16px;
  }
}

.selection-area {
  margin-top: 3em;
}

.ordering-options {
  margin: 1em;
}

.ordering-area {
  margin: 3em 0;
}

.ordered-systems {
  margin-bottom: 10em;
}

.no-selections {
  background-color: $background-light-gray;
  padding: 1em;
}

.infobox-button {
  position: relative;
}

.form-checkbox-area label, .form-choose-radio-area label {
  cursor:  pointer !important;
}

.question-title {
  display: 'flex';
  justify-content: 'space-between';
  align-items: 'center';
}

.question-required {
  color: $red;
  margin-left: '0.2em'; 
  font-weight: '600';
}

.traffic-light-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 32%;
  margin: 0;
  padding-left: 2em;
  padding-bottom: 0;
  @media only screen and (max-width: 1200px) {
    max-width: 40%;
  }
  @media only screen and (max-width: 1100px) {
    max-width: 45%;
  }
  @media only screen and (max-width: 1000px) {
    max-width: 55%;
  }
  @media only screen and (max-width: 900px) {
    max-width: 60%;
  }
  @media only screen and (max-width: 850px) {
    max-width: 70%;
  }
  @media only screen and (max-width: 700px) {
    max-width: 80%;
  }
}

.traffic-light-row-label {
  margin-right: auto;
}

.pie-box {
  max-width: 3em;
  max-height: 3em;
}