.emoji {
  width: 40px;
  height: auto;
  margin: 0 7px;
  filter: grayscale(100%);
}

.emoji-button {
  cursor: pointer;
  transition-duration: 300ms;
  &:hover {
    filter: grayscale(0%);
    width: 50px;
  }
}

.active-emoji {
  filter: grayscale(0%);
  width: 50px;
}

.form-view-only-smiley {
  margin: 1em 0; 
}