.emoji {
  width: 40px;
  height: auto;
  margin: 0 7px;
  filter: grayscale(100%);
  transition-duration: 300ms;
  &:hover {
    filter: grayscale(0%);
    width: 50px;
  }
}

.emoji-button {
  cursor: pointer;
}

.active {
  filter: grayscale(0%);
  width: 50px;
}
