.traffic-light {
  display: flex;
  justify-content: space-between;
  background-color: #a8a3a3;
  width: 175px;
  height: 60px;
  border-radius: 100px;
  padding: 10px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.red {
  background: #bd0903;
  &:hover {
    background: #f00;
  }
}

.yellow {
  background: #a26d02;
  &:hover {
    background: #fdbe40;
  }
}

.green {
  background: #15511e;
  &:hover {
    background: #34cb4a;
  }
}

.red-active {
  background: #f00;
}

.yellow-active {
  background: #fdbe40;
}

.green-active {
  background: #34cb4a;
}

.grey {
  background: #cfcfcf;
}

.emoji {
  width: 50px;
  height: auto;
  margin: 0 5px;
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0%);
  }
}

.emoji-button {
  cursor: pointer;
}

.active-emoji {
  border-bottom: 5px solid #007290;
}

.invisible-border {
  margin-bottom: 5px;
}

.colored {
  filter: grayscale(0%);
}
