.editor-class {
  background-color: #f8f8f8;
  padding: 1em;
  width: 100%;
  height: auto;
  cursor: text;

  &.disabled {
    cursor: not-allowed;
  }
}

.wrapper-class {
  display: flex;
  flex-direction: row-reverse;
}

.toolbar-class {
  display: flex;
  flex-direction: column;
  max-width: 50px;
  min-width: 10px;
  min-height: 220px;
  border: 0;
  background-color: #f8f8f8;
  margin: 0;

  &.disabled {
    background-color: rgb(36, 148, 255);

    div {
      // Hides the actual buttons (like bold,underline and so on)
      display: none;
    }
  }
}
