.editor-class {
  background-color: #f8f8f8;
  padding: 1em;
  width: 100%;
  height: auto;
  cursor: text;
}

.wrapper-class {
  display: flex;
  flex-direction: row-reverse;
}

.toolbar-class {
  display: flex;
  flex-direction: column;
  max-width: 50px;
  border: 0;
  background-color: #f8f8f8;
  margin: 0;
}
