@import '../../assets/colors.scss';

.about-header-line {
  background: linear-gradient(
    to bottom,
    $toska-red,
    $toska-red 50%,
    $toska-orange 50%,
    $toska-orange,
  );
  width: 100%;
  height: 4px;
  margin-bottom: 30px;
}

.about-container {
  margin-top: 70px;
  max-width: 1000px;
  padding: 20px;
  align-self: center;
  > p {
    font-size: 1.3em;
  }
}
