@font-face {
  font-family: 'Lato';
  src: url('lato-regular-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('lato-light-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('lato-bold-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('lato-italic-webfont.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('lato-lightitalic-webfont.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('lato-bolditalic-webfont.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

.v1 {
  font-family: 'Lato', sans-serif;
  font-display: swap;
}
