$QUESTION_COUNT: 6;

@import '../../../assets/colors.scss';

.wide-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr 1fr;
  align-items: center;
  column-gap: 2rem;
  margin: 2rem 1rem;
  margin-bottom: 3rem;
}

.view-title {
  margin-right: 1em;
  margin-top: 1em,
}

.csv-download {
  max-width: 200px;
}

@mixin committee-overview-basics {
  display: grid;
  grid-template-columns: 4fr 1fr repeat($QUESTION_COUNT, 1fr) 1fr;
  grid-auto-columns: 50px;
  grid-template-rows: 50px 50px;
  grid-auto-rows: 50px;
  grid-row-gap: 25px;
  grid-column-gap: 5px;
  width: 95vw;
}

.overview-color-grid-committee {
  @include committee-overview-basics;
  &-3 {
    @include committee-overview-basics;
  grid-template-rows: 100px 50px;
  grid-template-columns: 2fr 7fr 7fr;
  grid-auto-rows: 100px
 }
 &-5 {
  @include committee-overview-basics;
  grid-template-rows: 70px 50px;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
  grid-auto-rows: 100px
 }
 &-7 {
  @include committee-overview-basics;
  grid-template-rows: 100px 50px;
  grid-template-columns: 2fr repeat($QUESTION_COUNT+2, 1fr);
 }
}

@mixin square-basics {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
}

.square {
  @include square-basics;

  &-red {
    @include square-basics;
    background-color: $light-red;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &-yellow {
    @include square-basics;
    background-color: $light-yellow;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &-green {
    @include square-basics();
    background-color: $light-green;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &-actions {
    @include square-basics();
    overflow-wrap: anywhere;
    background-color: $light-green;
    &:hover {
      filter: brightness(0.8);
    }
  }
}

@mixin sticky-header-basics {
  position: sticky;
  top: 0;
  background-color: $background-white;
  box-shadow: 0px 0px 2px 2px $background-white; //little white shadow to cover the shadow of the .square
  padding-top: 10px;
  z-index: 4;
}

@mixin sticky-header-committee {
  @include sticky-header-basics();
    word-wrap: break-word;
    text-align: center;
    font-weight: bold;
    margin-left: -3px;
    margin-right: -3px;
    padding-left: 5px;
    padding-right: 5px;
}

.sticky-header {
  @include sticky-header-basics();

  &-categories-7 {
   @include sticky-header-committee();
    grid-column: span 1;
  }
  &-categories-5 {
    @include sticky-header-committee();
     grid-column: span 1;
   }
   &-categories-3 {
    @include sticky-header-committee();
     grid-column: span 1;
   }
}

.year-filter-label {
  font-size: 17px;
}

@mixin container-basics {
  display: flex;
  align-items: center;
}

.table-container {
  @include container-basics;
  flex-direction: column;
  margin-right: auto;
  &-manage-cell-committee {
    @include container-basics;
    justify-content: center;
    grid-column: span 1;
  }
  &-row-link {
    @include container-basics;
  }
}

.sorter {
  font-weight: bold;
  cursor: pointer;
}

@mixin traffic-light-basics {
  display: inline-block;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.traffic-light {
  &-green {
    @include traffic-light-basics;
    background: $background-green;
  }
  &-yellow {
    @include traffic-light-basics;
    background: $background-yellow;
  }
  &-red {
    @include traffic-light-basics;
    background: $background-red;
  }
}

@mixin accordion-title-basics {
  margin-left: 0.5rem;
  
}

.accordion-title {
  
  &-green {
    border-radius: 10px 100px / 120px;
    h2 {
      @include accordion-title-basics;
    }
    background: $light-green;
  }
  &-yellow {
    border-radius: 10px 100px / 120px;
    h2 {
      @include accordion-title-basics;
    } 
    background: $light-yellow;
  }
  &-red {
    border-radius: 10px 100px / 120px;
    h2 {
      @include accordion-title-basics;
    }
    background: $light-red;
  }

}

.modal-accordion-container {

  div:not(:first-child) {
    margin-top: 1rem;
}

  h2, h4, p {
    margin-left: 1rem;
  }
}

.committee-level-filter {
  font-size: 1.5rem !important;
  height: 1.5em;
}

.committee-table-header-7 {
  &-left-padding {
    grid-column: span 1;
  }
  &-university {
    grid-column: span 3;
  }
  &-arviointi {
    grid-column: span 4;
  }
  &-right-padding {
    grid-column: span 1;
  }
}

.committee-table-header-3 {
  &-left-padding {
    grid-column: 1;
  }
  &-university {
    grid-column: 2;
  }
  &-arviointi {
    grid-column: 3;
  }
  &-right-padding {
    grid-column: 4;
  }
}

.committee-table-header-5 {
  &-left-padding {
    grid-column: span 1;
  }
  &-university {
    grid-column: span 2;
  }
  &-arviointi {
    grid-column: span 2;
  }
  &-right-padding {
    grid-column: span 1;
  }
}

.committee-table-header-second-level-right-padding {
  grid-column: span 1;
}

.committee-table-theme-title {
  &-7 {
    grid-column: span 9;
  }
  &-5 {
    grid-column: span 5;
  }
  &-3 {
    grid-column: span 3;
  }
}