@import 'Assets/colors.scss';

.comparison-page {
  &-tab {
    margin-top: 2em;
    width: 90%;
    max-width: 1600px;
    align-self: center;
  }
}

.comparison-info-header {
  height: 50px;
}

.comparison-filter-container {
  width: 90%;
  max-width: 1600px;
  align-self: center;
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    max-width: 90%;
  }
  > h1 {
    margin-bottom: 1.3em;
    margin-top: 1em !important;
  }
}

.comparison-container {
  margin-top: 1em;
  padding: 10px;
}

.comparison-left-header {
  margin-left: 25px;
  > p {
    font-size: 1.1em;
  }
}

.comparison-center-header {
  font-size: 1.1em;
  text-align: center;
  > p {
    margin-bottom: 3px;
  }
}

.comparison-right-header {
  text-align: end;
  > p {
    font-size: 1.1em;
  }
}

.comparison {
  &-row {
    margin-top: 1.5em !important;
    padding-bottom: 0px !important;
  }
  &-filter {
    margin: 2em 0em 1em 0em;
    > label {
      font-size: 1.05em;
      margin-bottom: 0.5em;
      display: block;
    }
  }
  &-toggle {
    margin: 4em 0em 2em 0em;
    padding-left: 1em;
  }
}

.comparison-side-note {
  color: $gray;
}

@mixin answer-circle-basics {
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.answer {
  &-circle-green {
    @include answer-circle-basics;
    background: $background-green;
  }
  &-circle-yellow {
    @include answer-circle-basics;
    background: $background-yellow;
  }
  &-circle-red {
    @include answer-circle-basics;
    background: $background-red;
  }
  &-circle-gray {
    @include answer-circle-basics;
    background: $gray;
  }
}

.comparison-color {
  &-grid {
    width: 100%;
    margin: 1em 0em 4em 0em;
  }
  &-chart-area {
    max-width: 425px;
    @media only screen and (max-width: 1250px) and (min-width: 768px) {
      height: 400px;
    }
    height: 550px;
    margin: 10px;
  }
  &-pie-header {
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
    > p {
      margin-bottom: 3px;
      font-weight: 400;
    }
  }
  &-pie-headline {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-pie-chart {
    position: relative;
    display: inline-block;
    flex-shrink: 1;
    width: 100%;
  }
  &-pie-tip {
    position: absolute;
    float: right;
    top: 75%;
    width: 425px;
    z-index: 5;
    padding: 6px 10px;
    border-radius: 2px;
    background: $white;
    color: $black;
    font-size: 12px;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.1;
    letter-spacing: 0.06em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-transform: all 0.3s;
    -moz-transform: all 0.3s;
    -ms-transform: all 0.3s;
    -o-transform: all 0.3s;
    transform: all 0.3s;
    pointer-events: none;
  }
}

.empty-toggle {
  margin: 2em 0em 0.5em 0em;
}

.questions-list {
  &-container {
    margin-top: 1.5em !important;
  }
  &-button {
    margin-top: 1em !important;
  }
  &-label {
    margin-top: 2em !important;
    font-size: 1.05em;
    &-bolded {
      margin-top: 2em !important;
      font-size: 1.05em;
      color: $red;
    }
  }
  &-selector {
    margin-top: 0.5em !important;
    max-width: 90%;
    &-bolded {
      margin-top: 0.5em !important;
      max-width: 90%;
      border: 2px solid $black;
      font-weight: bold;
    }
  }
}
.comparison {
  &-chart-row {
    height: 600px !important;
  }
  &-chart-settings {
    margin-top: 20px !important;
  }
  &-questions-row {
    height: 500px !important;
  }
  &-question-content {
    padding-left: 35px !important;
  }
}

.color-buttons {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: 3px;
  position: sticky;
  top: 70px;
  z-index: 4;
  > label {
    font-size: 20px;
    margin-right: 5px;
  }
}
