$QUESTION_COUNT: 21;
$EVALUATION_COUNT: 13;
$DEGREE_REFORM_COUNT: 10;
$METAEVALUATION_COUNT: 30;
$METADOCTORAL_COUNT: 9;
@import '../../assets/colors.scss';

.wide-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr 1fr;
  align-items: center;
  column-gap: 2rem;
  margin: 2rem 1rem;
  margin-bottom: 3rem;
}

.wideish-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
  align-items: center;
  column-gap: 2rem;
  margin: 2rem 1rem;
  margin-bottom: 3rem;
}

.view-title {
  margin-right: 1em;
  margin-top: 1em,
}

.csv-download {
  max-width: 200px;
}

.overview-color-grid {
  display: grid;
  grid-template-columns: 4fr 1fr repeat($QUESTION_COUNT, 1fr) 1fr;
  grid-auto-columns: 50px;
  grid-template-rows: 160px 70px;
  grid-auto-rows: 50px;
  grid-row-gap: 25px;
  grid-column-gap: 5px;
  width: 95vw;
}

.overview-color-grid-evaluation {
  display: grid;
  grid-template-columns: 4fr 1fr repeat($EVALUATION_COUNT, 1fr) 1fr;
  grid-auto-columns: 50px;
  grid-template-rows: 160px 70px;
  grid-auto-rows: 50px;
  grid-row-gap: 25px;
  grid-column-gap: 5px;
  width: 95vw;
}

.overview-color-grid-meta-evaluation {
  display: grid;
  grid-template-columns: 4fr 1fr repeat($METAEVALUATION_COUNT, 1fr) 1fr;
  grid-auto-columns: 50px;
  grid-template-rows: 160px 70px;
  grid-auto-rows: 50px;
  grid-row-gap: 25px;
  grid-column-gap: 5px;
  width: 95vw;
}

.overview-color-grid-meta-doctoral {
  display: grid;
  grid-template-columns: 4fr 1fr repeat($METADOCTORAL_COUNT, 1fr) 1fr;
  grid-auto-columns: 50px;
  grid-template-rows: 160px 70px;
  grid-auto-rows: 50px;
  grid-row-gap: 25px;
  grid-column-gap: 5px;
  width: 95vw;
}

.overview-color-grid-degree-reform {
  display: grid;
  grid-template-columns: 4fr 1fr repeat($DEGREE_REFORM_COUNT, 1fr) 1fr;
  grid-auto-columns: 50px;
  grid-template-rows: 160px 70px 70px;
  grid-auto-rows: 50px;
  grid-row-gap: 25px;
  grid-column-gap: 5px;
  width: 95vw;
}

.overview-color-grid-degree-reform-no-filter {
  display: grid;
  grid-template-columns: 4fr 1fr repeat($DEGREE_REFORM_COUNT, 1fr) 1fr;
  grid-auto-columns: 50px;
  grid-template-rows: 160px 70px;
  grid-auto-rows: 50px;
  grid-row-gap: 25px;
  grid-column-gap: 5px;
  width: 95vw;
}

@mixin square-basics {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.square {
  @include square-basics;

  &-red {
    @include square-basics;
    background-color: $light-red;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &-yellow {
    @include square-basics;
    background-color: $light-yellow;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &-green {
    @include square-basics();
    background-color: $light-green;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &-blue {
    &-wide {
    @include square-basics();
    grid-column:span  2;
    background-color: rgb(223, 240, 255);
    &:hover {
      filter: brightness(0.8);
    }
  }
  }
  &-gray {
    @include square-basics();
    background-color: rgb(128,128,128);
    &:hover {
      filter: brightness(0.8);
    }
  }
}

@mixin sticky-header-basics {
  position: sticky;
  top: 0;
  background-color: $background-white;
  box-shadow: 0px 0px 2px 2px $background-white; //little white shadow to cover the shadow of the .square
  padding-top: 10px;
  z-index: 4;
}

.sticky-header {
  @include sticky-header-basics();

  &-categories {
    @include sticky-header-basics();
    height: 175px;
    word-wrap: break-word;
    text-align: center;
    font-weight: bold;
    white-space: normal;
    overflow-wrap: break-word;
  }
}

.year-filter-label {
  font-size: 17px;
}

@mixin container-basics {
  display: flex;
  align-items: center;
}

.table-container {
  @include container-basics;
  flex-direction: column;
  margin-right: auto;
  &-manage-cell {
    @include container-basics;
    justify-content: center;
  }
  &-row-link {
    @include container-basics;
  }
  &-degree-reform-button {
    position: relative;
    top: 140px;
    z-index: 10;
    width: 8em;
  }
  &-degree-reform-filter {
    align-self: flex-start;
    position: relative;
    top: 140px;
    z-index: 20;
    width: 8em;
    display: flex;
  }
}

.sorter {
  font-weight: bold;
  cursor: pointer;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-align: left;
}

@mixin traffic-light-basics {
  display: inline-block;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.traffic-light {
  &-green {
    @include traffic-light-basics;
    background: $background-green;
  }
  &-yellow {
    @include traffic-light-basics;
    background: $background-yellow;
  }
  &-red {
    @include traffic-light-basics;
    background: $background-red;
  }
}
