$background-blue: #dff0ff;
$background-red: #f37778;
$background-yellow: #f9d03b;
$background-green: #1db954;
$background-white: #ffffff;
$background-beige: rgba(255, 205, 76, 0.18);
$background-light-gray: #f8f8f8;
$background-gray: #f5f5f5;
$background-black: #1b1c1d;
$blue: #0e6eb8;
$light-red: #ff7f7f;
$red: #e64e40;
$light-yellow: #ffffb1;
$yellow: #ffd700;
$light-green: #9dff9d;
$green: #00944b;
$white: #ffffff;
$light-gray: #e6e6e6;
$gray: #747474;
$dark-gray: #4e4c4c;
$black: #1b1c1d;
$dimmer-dark: rgba(0, 0, 0, 0.75);
