@import '../assets/colors.scss';

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
}

.navbar {
  height: 5em;
  background-color: $background-gray;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: row;
}

.the-form {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  max-width: 70em;
  margin: 0 5em;
}

.navigation-sidebar {
  flex-grow: 1;
  max-width: 20em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.form-textarea {
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  label {
    min-width: 15em;
    width: 50%;
    padding-right: 1em;
  }
  textarea {
    flex-grow: 1;
    min-width: 25em;
    height: 6em;
  }
}

.form-dropdown {
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  label {
    min-width: 15em;
    width: 50%;
    padding-right: 1em;
  }
  select {
    flex-grow: 1;
    font-size: 0.9em;
    max-width: 25em;
    min-width: 25em;
    height: 2em;
  }
}

.form-question-extrainfo {
  font-style: italic;
  font-weight: 300;  
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

.img-responsive {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 1em;
}

.footer {
  height: 5em;
  background-color: $background-gray;
}

label {
  font-weight: bold;
  font-size: 14px;
}

.claimAccesspage-adminMessage {
  font-size: large;
  padding-bottom: 0.5em;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  border-radius: 5px;
  margin: 1em 0em;

  &.error {
    color: $red;
    border: 3px solid $red;
  }

  &.valid {
    color: $green;
    border: 3px solid $green;
  }
}

// These css styles are applied, when user opens the print dialogue in browser.
@media print {
  .hide-in-print-mode,
  #navBar-wrapper,
  .navigation-sidebar {
    display: none;
  }

  .form-section-header {
    font-size: 1.5em !important;
    padding: 0 !important;
    margin: 1.5em 0em 1em 0em !important;
    background: transparent !important;
    color: $black !important;
  }

  .form-entity-area {
    margin-top: 0.5em !important;
  }

  .entity-description {
    padding-left: 0.5em !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 1.5 !important;
  }
  
  .form-text-area {
    margin: 1rem 0!important;
  }

  .form-textarea {
    padding: 0.5em 0 !important;
  }

  .form-view-only-smiley {
    max-height: 30px !important;
  }
  // These are required for firefox:
  // https://stackoverflow.com/questions/43492724/firefox-prints-first-page-only-but-other-browsers-doing-fine/43494490
  .content {
    display: block;
  }
  .form-container {
    display: block;
  }
  .the-form {
    display: block;
  }
}
