name: Test and build staging-image

on:
  push:
    branches: [master]

jobs:
  test_comparison:
    name: Test Comparison Page
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/comparison.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  test_form:
    name: Test Form Page
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/form.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  test_form_notifications:
    name: Test Form notifications
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/formNotifications.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  test_happy_path:
    name: Test happy path
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/happypath.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  test_iam_permissions:
    name: Test IAM-permissions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/IAMpermissions.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  test_management:
    name: Test rights management
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
    
      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/management.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  test_misc:
    name: Test miscellaneous
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
    
      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/misc.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  test_ospa:
    name: Test OSPA features
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/ospa.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  test_permissions:
    name: Test permissions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/permissions.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  test_report:
    name: Test Report Page
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/report.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  test_year_selector:
    name: Test year selector
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: npm ci
        run: npm ci

      - name: docker-compose up -d
        run: docker-compose up -d

      - name: seed db
        run: docker exec lomake_dev bash -c "node index.js seed"

      - name: Run cypress tests
        run: ./node_modules/.bin/cypress run --headless --browser chrome --spec "cypress/integration/yearselector.spec.js"

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: /home/runner/work/lomake/lomake/cypress/screenshots

  build:
    name: 'Build and publish staging image'
    needs:
      - test_comparison
      - test_form
      - test_form_notifications
      - test_happy_path
      - test_iam_permissions
      - test_management
      - test_misc
      - test_ospa
      - test_permissions
      - test_report
      - test_year_selector
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Publish to DockerHub
        uses: docker/build-push-action@v1.1.0
        with:
          repository: toska/lomake
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          build_args: BASE_PATH=/tilannekuva/
          tags: staging

  report_success:
    name: 'Report deployment success to Tilku-channel'
    runs-on: ubuntu-latest
    needs:
      - test_comparison
      - test_form
      - test_form_notifications
      - test_happy_path
      - test_iam_permissions
      - test_management
      - test_misc
      - test_ospa
      - test_permissions
      - test_report
      - test_year_selector
      - build
    if: success()
    steps:
      - name: "Send notification to Slack"
        uses:  UniversityOfHelsinkiCS/slackbot-action@v1.4.2
        with:
          webhook-url: ${{ secrets.WEBHOOK_URL }}
          message-type: deployment
          softa-url: https://toska-staging.cs.helsinki.fi/tilannekuvalomake
          deployment-target: staging

  report_failure:
    name: 'Report test failure to Tilku-channel'
    runs-on: ubuntu-latest
    needs:
      - test_comparison
      - test_form
      - test_form_notifications
      - test_happy_path
      - test_iam_permissions
      - test_management
      - test_misc
      - test_ospa
      - test_permissions
      - test_report
      - test_year_selector
      - build
    if: failure()
    steps:
      - name: "Send notification to Slack"
        uses:  UniversityOfHelsinkiCS/slackbot-action@v1.4.2
        with:
          webhook-url: ${{ secrets.WEBHOOK_URL }}
          message-type: test-failure
